<div class="big-header" >
	<h1><%= __.t('Les circuits') %></h1>
	<h2><%= __.t('Toul, Sion, Boucles de la Moselle') %></h2>
</div>


<ul class="main-list" >

    <li class="main-item">
        <img src="" ></img>
        <h2>Lorem ipsum dolor sit</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore.
        </p>
        <span class="more"></span>
    </li>

    <li class="main-item">
        <img src="" ></img>
        <h2>Lorem ipsum dolor</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt.
        </p>
        <span class="more"></span>
    </li>

    <li class="main-item">
        <img src="" ></img>
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore.
        </p>
        <span class="more"></span>
    </li>

    <li class="main-item">
        <img src="" ></img>
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <span class="more"></span>
    </li>

</ul>
