<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Phonegap Boilerplate</h1>
    </div>
</div>

<div class="container" >
    <form class="columns mymodel-form twelve">

        <div class="columns six" >
            <label>Attribute :</label>
            <input type="text" class="topcoat-text-input" name="attribute" />
        </div>

        <div class="columns six" >
            <label>Attribute 2 :</label>
            <input type="text" class="topcoat-text-input" name="attribute2" />
        </div>

        <input class="topcoat-button--cta" type="submit" value="Poster" />
    </form>
    <ul class="mymodel-list">
    </ul>
</div>

<div class="topcoat-navigation-bar">
    <div class="topcoat-button" >Page suivante</div>
</div>
