#container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page.page-left {
    left: -100%;
}

.page.page-right {
    left: 100%;
}

.page.page-center {
    left: 0%;
}

.page.from-left {
    -webkit-animation: from-left .3s;
    animation: from-left .3s;
}

.page.from-right {
    -webkit-animation: from-right .3s;
    animation: from-right .3s;
}

.page.to-left {
    -webkit-animation: to-left .3s;
    animation: to-left .3s;
}
.page.to-right {
    -webkit-animation: to-right .3s;
    animation: to-right .3s;
}

@-webkit-keyframes from-left {
    from { left: -100%; }
    to { left: 0%; }
}

@-webkit-keyframes to-left {
    from { left: 0%; }
    to { left: -100%; }
}

@-webkit-keyframes from-right {
    from { left: 100%; }
    to { left: 0%; }
}

@-webkit-keyframes to-right {
    from { left: 0%; }
    to { left: 100%; }
}

@keyframes from-left {
    from { left: -100%; }
    to { left: 0%; }
}

@keyframes to-left {
    from { left: 0%; }
    to { left: -100%; }
}

@keyframes from-right {
    from { left: 100%; }
    to { left: 0%; }
}

@keyframes to-right {
    from { left: 0%; }
    to { left: 100%; }
}
