.page-slider-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.not-accelerated .page {
    -webkit-transform: none !important;
    transform: none !important;
}

.not-accelerated .page {
    -webkit-transition-duration: 0s !important;
    transition-duration: 0s !important;
}

.not-accelerated .page.page-left {
    left: -100%;
}

.not-accelerated .page.page-right {
    left: 100%;
}
