.topcoat-text-input {
    width: 100%;
}

/* Forms */
.form-actions input {
    float: right;
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 100;
}

.content {
    margin-top: 70px;
    min-height: 800px;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.mymodel-form {
    margin-top: 60px;
}
